[submodule "UnitTests/googletest"]
	path = UnitTests/googletest
	url = https://github.com/google/googletest.git
[submodule "Testbed/Framework/imgui"]
	path = Testbed/Framework/imgui
	url = https://github.com/louis-langholtz/imgui.git
[submodule "Benchmark/googlebench"]
	path = Benchmark/googlebench
	url = https://github.com/google/benchmark.git
